body{
    background-color:linear-gradient(135deg,#00ADB5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Question{
    background: linear-gradient(135deg,#6C63FF);
    color: whitesmoke;
    height: 100px;
    text-align: center;
    position: sticky;
    z-index: 10;
    width: 600px;
    border-radius: 8px;
    margin-top: 10px;
}
#head{
    color: #00ADB5;
    font-size: 50px;
}
.parent{
    height: 200px;
    text-align: center;
    position: sticky;
    z-index: 10;
    width: 600px;
    border-radius: 8px;
    margin-top: 10px;
}
.parent label{
    margin-left: 10px;
}
#btn{
    height: 50px;
    width: 300px;
    background-color: #00ADB5;
    border: none;
    font-family: sans-serif;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
}
#submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Correctans{
    height: 100px;
    border-radius: 10px;
    width: 400px;
    background-color: thistle;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}