body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.maindiv{
    background-color: red;
    height: 100px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.samebtn{
    height: 30px;
    width: 80px;
}